body {
    background-color: #1a1a1a;
    color: #e6e6e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    background-color: #2e2e2e;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#header {
    display: flex;
}

.boxHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerLeft, .headerRight {
    flex: 1;
    display: flex;
    align-items: center;
}

.headerLeft{
    justify-content: flex-start;
}

.headerRight{
    justify-content: flex-end; 
}

#logo {
    margin-right: 20px;
}

#metadata {
    flex-grow: 1;
}

p {
    margin: 8px 0;
}

a {
    color: #f94c10;
}

.container {
    margin-top: 10px;
}

.tooltip {
    background-color: #4a525e;
    color: #abb2bf;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #000000;
    box-shadow: 7px 4px 1px rgba(0, 0, 0, 0.3);
    font-size: x-small;
    font-family: monospace;
}

.filterBox {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

input,
button {
    background-color: #4a525e;
    color: #abb2bf;
    border: none;
    padding: 8px;
    margin-right: 5px;
    border-radius: 4px;
}

input::placeholder {
    color: #666;
}

button {
    cursor: pointer;
}

.notSelectedButton {
    background-color: #c70039;
}

.selectedButton {
    background-color: #f94c10;
}

.topButton {
    color: #1a1a1a;
    border: none;
    padding: 8px;
    margin-right: 5px;
    border-radius: 4px;
    height: fit-content;
    display: flex;
    align-items: center;
}

.flamegraph {
    background-color: #2e2e2e;
    margin-top: 10px;
    overflow: hidden;
}

h1,
h2 {
    color: #f94c10;
}