body {
    margin: 0;
    padding: 0;
    background: #ddd;
}

.box {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 3px;
    box-shadow: 1px 1px 0px 0px #aaa;
    background-image: linear-gradient(to bottom right, white, #dbdbdb);
    overflow: hidden;
}

#header {
    padding: 1rem;
    height: 150px;
}

#metadata {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

#header p {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#logo {
    float: left;
    margin: -1rem;
    margin-right: 1rem;
}

#filter {
    padding: 0.5rem;
}

#filterInput {
    width: 35rem;
}

.threadName {
    margin: 1rem;
    display: inline-block;
    font-family: monospace;
}

.smallBox {
    height: 3.7rem;
}

.hideButton {
    float: right;
}

.tooltip{
    background: #edff59;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 7px 4px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    font-size: x-small;
    font-family: monospace;
}

.flamegraph{
    height: 20rem;
}